suites:
    spec:
        namespace: Pamil\ProphecyCommon
        psr4_prefix: Pamil\ProphecyCommon
        src_path: src
        spec_path: .
    example:
        namespace: example\Pamil\ProphecyCommon
        psr4_prefix: example\Pamil\ProphecyCommon
        src_path: example/src
        spec_path: example
